header{
display: grid;
grid-template-columns: 1fr,1fr,1fr,1fr;
grid-template-rows: 1fr;
grid-template-areas:"logo left . Right";}
.logo
{display: flex;
grid-area:"logo";}
ul
{display:flex;}
#leftTopNav
{display: flex;
 justify-content: left;
}
li
{
padding-inline: 70px;
 grid-area: left;
list-style: none;
}
a{
background-color: pink;}
#rightTopNav
{display: flex;
    justify-content: right;
}
li
{
grid-area:right;
list-style: none;
}
a
{background-color: pink;
}
