#leftTopNav
li
{display:inline;
float:left;;
justify-content: left;
padding-top: 0%;
}
a{display: block;
padding:8px ;
background-color: pink;}
#rightTopNav
li
{display: inline;
float: right;
justify-content: right;
}
a
{
display: block;
padding: 8px;
background-color: pink;
}
