header{
display:grid; 
grid-template-columns:auto 1fr 1fr;
grid-template-areas:"logo left right";
align-items: center;}
.logo
{
grid-area:logo;}
#leftTopNav
{grid-area:left;
}
#rightTopNav
{grid-area: right;
}
ul{display: flex;
justify-content: flex-start;
padding: 0;}
#rightTopNav ul{
    justify-content: flex-end;
}
li
{
list-style: none;
margin:0 10px;
}
a
{background-color: pink;
 padding: 5 px 10px;
 text-decoration: none;
}
